.header {
    position: relative;
    padding-top: 45px;
    background: #eee;
}

.header__top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header__top-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 590px;
    font-family: 'Nexa Bold';
}

.header__search {
    input[type="search"] {
        width: 300px;
        padding: 20px;
        padding-right: 40px;
        border: none;
        background: #fff url('../img/clock.svg') no-repeat center right 14px;
        font-family: 'Nexa Bold';
    }
}

.header__quicklinks {
    &::after {
        content: '';
        width: 10px;
        height: 20px;
        display: inline-block;
        margin-left: 5px;
        vertical-align: middle;
        background: url('../img/map-marker.svg') no-repeat center;
        background-size: contain;
    }
}

.header__bottom {
    position: relative;
    top: 13px;
    z-index: 1;
}

@media (max-width: 594px) {
    .header__top {
        justify-content: center;
    }

    .header__logo, .header__quicklinks {
        margin-bottom: 15px;
    }
    .header__top-right {
        flex-direction: column;
    }

    .header__select {
        margin-bottom: 10px;
    }
}