.logo {
    position: relative;
    padding-left: 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    svg {
        position: absolute;
        left: 0;
        top: 0;
        width: 50px;
        height: 50px;
        fill: #8d3ec8;
    }
}

.logo__title {
    margin-bottom: 10px;
    font-family: 'Nexa Black';
    color: #6a19ac;
    font-size: 40px;
    display: block;
    line-height: .5;
}

.logo__slogan {
    font-family: 'PT Sans';
    font-size: 12px;
    color: #7d7d7d;
    text-shadow: 0 0 1px #fff;
}