.main-nav {
    overflow: hidden; 
}

.main-nav__list {
    @include unstyled-list();
    @include clearfix();
    position: relative;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 3px 10px rgba(#000, .5);
    height: 113px;
    font-family: 'PT Sans Bold'  
}

.main-nav__toggle {
    display: none;
    position: relative;
    float: right;
    width: 50px;
    height: 40px;
    border: 2px solid #701dbb;
    outline-color: #701dbb;
}

.main-nav__toggle-line {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -1.5px;
    height: 3px;
    background: #701dbb;
    transition: transform .5s;


    &::before {
        content: '';
        width: 100%;
        position: absolute;
        top: -10px;
        left: 0;
        height: 3px;
        background: #701dbb;
    }

    &::after {
        content: '';
        width: 100%;
        position: absolute;
        bottom: -10px;
        left: 0;
        height: 3px;
        background: #701dbb;
    }

    &--active {
        transform: rotate(90deg);
    }
}

.main-nav__item {
    flex-grow: 1;
    position: relative;
    background-color: #eee;
    a {
        height: 113px;
        text-align: center;
        text-decoration: none;
        padding: 65px 35px 40px 35px;
        display: block;
        border-bottom: 5px solid #701dbb;
        color: #707070;
        &:hover {
            z-index: 30;
            color: #701dbb;
            box-shadow: 0 3px 10px rgba(#000, .3);
            border-bottom-width: 13px;
            border-bottom-color: #701dbb;
        }
    }

    svg {
        position: absolute;
        top: 20px;
        left: 50%;
        margin-left: -10px;
        width: 20px;
        height: 30px;
        fill: #707070;
    }

    &:hover {
        z-index: 3;
        position: relative;
        background: #fff;
        transform: scale(1.2) translateY(-15px);

        svg {
            fill: #701dbb;
        }
    }

    &:not(:last-child) {
        border-right: 1px solid #d4d4d4;
    }

    &::after {
        content: '';
        position: absolute;
        right: -1px;
        bottom: 0;
        width: 1px;
        height: 5px;
        background: #701dbb;
    }
}

@media (max-width: 698px) {
    .main-nav__toggle {
        display: block;
    }
    .main-nav__list {
        position: absolute;
        width: 100%;
        transform: translateX(-110%);
        flex-direction: column;
        transition: transform .5s;
        &--active {
            transform: translateX(0%);
        }
    }

    .main-nav__item {
        a {
            padding: 15px 0;
            height: 60px;
        }
        svg {
            display: none;
        }
    }
}