*, *::before, *::after {
    box-sizing: border-box;
}
.container {
    max-width: 960px;
    width: 100%;
    padding: 0 10px;
    margin: 0 auto;
}

body {
    font-family: 'Nexa', sans-serif;
    padding: 0;
    margin: 0;
}