.screen {
    max-width: 1260px;
    height: 470px;
    margin: 0 auto;
    padding-top: 105px;
    border: 50px solid #070707;
    border-radius: 30px;
    background: linear-gradient(30deg, #37007d, #8f33c4);
    text-align: center;
}

.screen__wrapper {
    padding-top: 50px;
    background: #222222;
}

.screen__list {
    @include unstyled-list();
    display: flex;
    justify-content: center;
    align-items: center;
}

.screen__img {
    position: relative;
    svg {
        width: 100px;
        height: 100px;
        fill: #fff;
    }
}

.screen__line {
    flex-shrink: 1;
    width: 140px;
    height: 5px;
    margin: 0 30px;
    background: #fff;
}

.screen__title {
    font-size: 36px;
    font-family: 'Nexa Book';
    color: #fff;
}

.screen__subheading {
    margin: 0; 
    font-size: 14px;
    font-family: 'Nexa Bold';
    color: #a161db;
    text-shadow: 0 2px #000;
}

@media (max-width: 734px) {
    .screen__title {
        margin-bottom: 0;
    }
}

@media (max-width: 576px) {
    .screen {
        border-width: 20px;
    }

    .screen__img{
        svg {
            width: 50px;
            height: 50px;
        }
    }

    .screen__line {
        height: 2px;
    }
}